<div class="min-h-screen grid grid-rows-[auto_1fr] md:grid-rows-1 md:grid-cols-3">
  <div class="bg-primary text-white p-6 md:p-10 md:col-span-1 flex flex-col justify-center items-center space-y-4 md:space-y-6 ">
    <h2 class="text-xl md:text-2xl font-bold text-center">Welcome!</h2>
    <p class="text-base md:text-lg text-center">Create an account to get started. <span class="text-sm">Already have an account?</span></p>
    <button (click)="navigateToLogin()" class="border-2 border-white text-white py-3 px-10 rounded-full text-sm font-semibold transition-colors">Login</button>
  </div>

  <div class="bg-white md:col-span-2 flex md:items-center justify-center p-6 md:p-10 ">
    <div class="space-y-6 p-8 max-w-xl w-full">
      <h2 class="text-primary text-3xl font-bold mb-10 text-center">Register</h2>
      <app-form [formGroup]="registerForm" [isLoading]="isLoading" formType="register" (submitForm)="handleSignup()"></app-form>

      <div class='flex justify-center'>
        <button class='flex items-center gap-3' (click)="onGoogleLogin()">
            <div class='w-5 h-5'>
                <img src="/Images/google.png" alt="google">
            </div>
            <p class='font-semibold text-primary'>Register with Google</p>
        </button>
      </div>
    </div>
  </div>
</div>