.loader-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.spinner-border {
    border-top-color: transparent;
    border-right-color: #8D9B6A;
    border-bottom-color: transparent;
    border-left-color: #8D9B6A;
}