<div class="space-y-6">
  <button (click)="goBack()" class="flex items-center text-sm">
    <img src="Images/icon-arrow-left.svg" alt="Go Back" class="w-2 h-2 mr-2">
    Go Back
  </button>

  <h2 class='text-xl text-primary font-semibold'>Personal Details</h2>

  <div *ngIf="isLoading" class="loader-spinner flex justify-center items-center">
    <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div class="w-[70px] h-[70px] flex justify-center items-center">
      <img [src]="user?.photoURL || 'Images/upload.png'" alt="Profile Image" class='w-full h-full object-cover rounded-full'>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class='space-y-6'>
      <div class="form-group">
        <label for="profileImage">Profile Image:</label><br>
        <input type="file" id="profileImage" (change)="onFileSelected($event)" accept="image/*">
      </div>

      <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="email" id="email" [value]="user?.email || ''" readonly class='bg-transparent border-b-2 w-full p-2 outline-none text-black text-sm'>
      </div>

      <div class="form-group">
        <label for="displayName">Display Name:</label><br>
        <input type="text" id="displayName" formControlName="displayName" class='bg-transparent border-b-2 w-full p-2 outline-none text-black text-sm'>
      </div>

      <button type="submit" [disabled]="isLoading || !profileForm.valid" class="bg-primary text-white py-3 px-10 rounded-md text-md font-medium hover:bg-primary-dark transition-colors">
        {{ isLoading ? 'Updating...' : 'Update Profile' }}
      </button>
    </form>
  </div>
</div>